<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teacher">
            <h2><span>Teacher</span> {{teacher.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Teacher First Name</span></dt>
                <dd>
                    <span>{{teacher.teacherFirstName}}</span>
                </dd>
                <dt><span>Teacher Last Name</span></dt>
                <dd>
                    <span>{{teacher.teacherLastName}}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{teacher.gender}}</span>
                </dd>
                <dt><span>Birth Date</span></dt>
                <dd>
                    <span>{{teacher.birthDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teacher', teacher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
