<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span>Student</span> {{student.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Student First Name</span></dt>
                <dd>
                    <span>{{student.studentFirstName}}</span>
                </dd>
                <dt><span>Student Last Name</span></dt>
                <dd>
                    <span>{{student.studentLastName}}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{student.gender}}</span>
                </dd>
                <dt><span>Birth Date</span></dt>
                <dd>
                    <span>{{student.birthDate}}</span>
                </dd>
                <dt><span>Student Code</span></dt>
                <dd>
                    <span>{{student.studentCode}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
