<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-student-heading">Create or edit a Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentFirstName">Student First Name</label>
                    <input type="text" class="form-control" name="studentFirstName" id="field_studentFirstName"
                           formControlName="studentFirstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentLastName">Student Last Name</label>
                    <input type="text" class="form-control" name="studentLastName" id="field_studentLastName"
                           formControlName="studentLastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gender">Gender</label>
                    <input type="text" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_birthDate">Birth Date</label>
                    <input type="text" class="form-control" name="birthDate" id="field_birthDate"
                           formControlName="birthDate"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
